/*
 * Estilos de tu proyecto
 */
 * {
   margin: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

 *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

 body {
   margin: 0 auto;
   font-size: 16px;
   line-height: 3;
   font-family: 'Montserrat', sans-serif;
 }

 /*Header*/

 header {
   top: 0;
   width: 100%;
   /*outline: 1px solid blue;*/
   position: fixed;
   background: transparent;
   color: #fff;
   z-index: 1000;
 }


 img.logo-lyft {
   margin-left: 50px;
   margin-top: 22px;
   width: 80px;
   height: auto;
 }

 figure {
   display: inline-block;
 }

a.menu {
  font-size: 20px;
  color:#fff;
}
 ul {
   color:#fff;
   float: right;
   margin-top: 30px;
   margin-right: 100px;
   margin-bottom: 30px;
   display: inline-block;
   list-style: none;
 }

 li {
   margin-left: 55px;
   display: inline-block;
 }

 a {
   text-decoration: none;
 }

li:last-child {
  border-radius: 8px;
  border: 1px solid #eee;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Primera seccion*/

section.sign-up {
  margin-top: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:url("../assets/images/hero.gif");
  width: 100%;
  height: 900px;
}

.turn-miles {
  background: #fff;
  width: 650px;
  position: absolute;
  margin-top: 190px;
  margin-left: 699px;
  margin-right: 0px;
  padding: 60px;
  font-size: 18px;
}

h2 {
 color: rgb(53,35,132);
 line-height: 32px;
}

.turn-miles h4 {
  color: rgb(185,192,205);
}
input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
}

button {
  padding: 10px;
  border-radius: 6px;
  border-style: none;
  background: rgb(255,0,191);
  color: #fff;
}

.turn-miles p {
  font-size: 10px;
}

.turn-miles a:first-child {
  color: rgb(255,0,191);
}
.turn-miles a {
  color: rgb(185,192,205);
}
.capital-letter {
  text-transform: uppercase;
}